//font family
$font-family: 'Plus Jakarta Sans', sans-serif;

//colors 
$lime: hsl(61, 70%, 52%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 69%, 50%);

//font size
$fs-14px: 0.875rem;
$fs-16px: 1rem;
$fs-18px: 1.125rem;
$fs-24px: 1.5rem;
$fs-40px: 2.5rem;
$fs-56px: 3.5rem;

//font weight
$fw-500: 500;
$fw-700: 700;

//line height
$lh-125: 125%;
$lh-150: 150%;

//letter spacing
$ls-1px: -1px;

//spacing
$spacing-100: 0.5rem;
$spacing-150: 0.75rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;