@use 'abstracts/helpers' as *;

@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

@use 'components/calculator';
@use 'components/display';



input[type="number"] {
    -moz-appearance: textfield; // Firefox
    appearance: textfield;      // Standard browsers
  
    // Remove spinner arrows in WebKit browsers (Chrome, Safari, Edge)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }